<div class="header-container">
    <a href="/index.html" class="logo">
        <img src="/assets/img/logo.png" alt="Logo Bosquea"> 
        <span>BOSQUEA</span>
    </a>
    <nav class="nav-menu">
        <a href="/index.html" id="link-inicio"><i class="fas fa-info-circle"></i> Inicio</a>
        <a href="/pages/mapa.html" id="link-mapa"><i class="fas fa-map"></i> Mapa</a>
        <a href="/pages/rutas.html" id="link-rutas"><i class="far fa-paper-plane"></i> Rutas</a>
        <a href="/pages/perfil.html" id="link-perfil"><i class="fas fa-user"></i> Perfil</a>
        <a href="http://127.0.0.1:5000/admin/dashboard" id="link-admin" style="display: none; color: #2d5a27; font-weight: bold;">
        <i class="fas fa-tools"></i> Gestión </a>
    </nav>
</div>